<h2>List of dashboards for <%= cluster_selector %></h2>

<% hosts = Host.all.select { |h| h.cluster == @cluster }
   boards = @dashboards.select { |d| d.clusters.member?(@cluster) }
   seen_hosts = Set.new %>

<% boards.sort.each do |b| %>
<h3><a href="/dash/<%= "#{@cluster}/#{append_query_string(b.name)}" %>"><%= b.name %></a>
  <% dash_hosts = b.get_all_hosts(@cluster)[0]
     seen_hosts += dash_hosts %>
  <%= hosts_selector(dash_hosts) %>
</h3>
<ul>
<%= b.graphs.collect do |g|
    href = append_query_string("/dash/#{@cluster}/#{b.name}/#{g}")
    "<li><a href=\"#{href}\">#{g}</a><br></li>"
    end %>
<br>
</ul>
<% end %>

<% if (hosts.to_set - seen_hosts).size > 0 %>
<h3>Other Hosts (not associated with a dashboard)</h3>
<ul>
<%= (hosts.to_set - seen_hosts).sort.collect do |h|
    href = append_query_string("/host/#{@cluster}/#{h}")
    "<li><a href=\"#{href}\">#{h}</a></li>"
    end %>
<% end %>
</ul>
