<%= header(dash_uplink) %>
<%= cluster_switcher(@dash.clusters) %>
<%= dash_switcher %>
<%= shortcuts(@dash.graphs.collect { |g| "<a href=\"##{g.name}\">#{g.name}</a>" }.join(" ")) %>

<% @dash.graphs.each do |g| %>
<div class="graph_container" style="width:<%= g.width(merge_opts) %>;">
  <a name="<%= g.name %>"></a>
  <% url, desc, zoom_url = cluster_graph(g, @cluster, "#{g.name} / #{@cluster}") %>
  <h3><%= g.name %>
    <span class="tools">(<a href="<%= zoom_url %>">zoom</a>)</span>
  </h3>
    <div class="graph">
      <%= img(url, desc, zoom_url) %>
    </div>
</div>
<% end %>
