<%= header(dash_uplink) %>
<% clusters = @dash.clusters %>
<%= cluster_switcher(clusters) %>
<%= dash_switcher %>
<%= shortcuts(@dash.graphs.collect { |g| "<a href=\"##{g.name}\">#{g.name}</a>" }.join(" ")) %>

<% @dash.graphs.each do |g| %>
<div class="graph_container" style="width:<%= g.width(merge_opts) %>;">
  <a name="<%= g.name %>"></a>
    <h3><%= g.name %>
      <span class="tools">
        <%= suggest_cluster_links(clusters, g) %>
      </span>
    </h3>
    <div class="graph">
      <% zoom_url = cluster_graph_link(@dash, g, "global") %>
      <a href="<%= zoom_url %>"><img src="<%= @dash.render_global_graph(g, :dynamic_url_opts => merge_opts) %>"></a>
    </div>
</div>
<% end %>
