<% clusters =  @dash.clusters %>

<%= cluster_switcher(clusters) %>
<%= dash_switcher %>
<%= dash_uplink %>
<br>
<br>
<%= @dash.graphs.collect { |g| "<a href=\"##{g.name}\">#{g.name}</a>" }.join(" ") %>

<% @dash.graphs.each do |g| %>
<div class="graphsection" style="width:<%= g.width(merge_opts) %>;">
  <a name="<%= g.name %>">
    <span class="graphtitle"><%= g.name %></span>
    <span class="dashlinks"><%= suggest_cluster_links(clusters, g) %></span>
    <div class="graph">
      <% zoom_url = cluster_graph_link(@dash, g, "global") %>
      <% url, desc = @dash.render_global_graph(g, :dynamic_url_opts => merge_opts) %>
      <a href="<%= zoom_url %>"><img title="<%= desc %>" src="<%= url %>"></a>
    </div>
</div>
<% end %>
