<%= header(host_uplink) %>
<%= shortcuts(@host.graphs.collect { |g| "<a href=\"##{g.name}\">#{g.name}</a>" }.join(" ")) %>

<% @host.graphs.each do |g| %>
  <div class="graph_container" style="width:<%= g.width(merge_opts) %>;">
    <a name="<%= g.name %>"></a>
      <h3><%= g.name %>
        <span class="tools"><%= suggest_dashboards_links(@host, g) %></span>
      </h3>
    <div class="graph">
      <% url, desc = g.render_url([@host.name], [@host.cluster], :title => "#{g.name} / #{@host.cluster} / #{@host.name}", :dynamic_url_opts => merge_opts) %>
      <%= img(url, desc) %>
    </div>
  </div>
<% end %>
