<html>
  <head>
    <%= css_url %>
    <link href="/favicon.ico" rel="icon" type="text/x-icon">
    <link href="/favicon.ico" rel="shortcut icon" type="text/x-icon">
    <%= refresh unless @no_graphs %>
  </head>
  <body bgcolor="black">

    <div id="wrap">
      <div id="header">
        <h2><%= @title %></h2>
        <h3><%= range_string %></h3>
        <%= permalink unless @no_graphs %>
      </div>

      <div id="nav">
        <% if @cluster %>
        <ul>
          Global Views:
          <li><a href="<%= cluster_link("global") %>">overview</a></li>
          <br>
          Cluster Views:
          <br>
          <% clusters = settings.config.clusters %>
          <% clusters.sort.each do |cluster| %>
          <li><a href="<%= cluster_link(cluster) %>"><%= cluster %></a></li>
          <% end %>
          <br>
          Dashboards: (<%= @cluster %>)
          <br>
          <% @dashboards.sort.each do |dash| %>
          <li><a href="<%= dash_link(dash, @cluster) %>"><%= dash["title"] %></a></li>
          <% end %>
          <br>
          Jump to Host:
          <br>
          <%= hosts_selector(Host.all) %>
          <br>
          <br>
          <%= input_boxes %>
          <%= refresh_button %>
          <div id="footer"> <%= cookies_form %></div>
        </ul>
      </div>
      <% end %>

      <div id="main">
        <%= yield %>
      </div>
    </div>

  </body>
  <div id="footer" style="color:green;">
    generated <%= @request_time %> by <a href="https://github.com/petef/pencil">pencil</a> v<%= PENCIL_VERSION %>
  </div>
</html>
