<html>
  <head>
    <%= css_url %>
    <link href="/favicon.ico" rel="icon" type="text/x-icon">
    <link href="/favicon.ico" rel="shortcut icon" type="text/x-icon">
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/jquery.bgiframe.js" type="text/javascript"></script>
    <script src="/js/jquery.dimensions.js" type="text/javascript"></script>
    <script src="/js/jquery.tooltip.js" type="text/javascript"></script>

    <%= refresh unless @no_graphs %>
  </head>

  <body bgcolor="black">
    <span class="tooltip">&nbsp;</span>

    <div id="wrap">
      <div id="header">
        <h2><%= @title %></h2>
        <h3><%= range_string %></h3>
        <%= permalink unless @no_graphs %>
      </div>

      <div id="nav">
        <% if @cluster %>
        <ul>
          <!-- fixme change this to the cluster overview link when there's only one cluster-->
          Global Views:
          <li><a href="<%= cluster_link("global") %>">overview</a></li>
          <br>
          <% clusters = settings.config.clusters %>
          <% if clusters.size > 1 %>
          Cluster Views:
          <br>

          <% clusters.sort.each do |cluster| %>
          <li><a href="<%= cluster_link(cluster) %>"><%= cluster %></a></li>
          <% end %>
          <br>
          <% end %>
          Dashboards: (<%= @cluster %>)
          <br>
          <% @dashboards.select do |d|
             @cluster == "global" || d.clusters.member?(@cluster)
             end.sort.each do |dash| %>
          <li><a href="<%= dash_link(dash, @cluster) %>"><%= dash["title"] %></a></li>
          <% end %>
          <br>
          Jump to Host:
          <br>
          <%= hosts_selector(* @cluster == "global" ? [Host.all, true] : [Host.find_by_cluster(@cluster), false]) %>
          <br>
          <br>
          <%= input_boxes %>
          <%= refresh_button %>
          <div id="footer"> <%= cookies_form %></div>
        </ul>
      </div>
      <% end %>

      <div id="main">
        <%= yield %>
      </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function() {
	  $("img[title]").tooltip({
      track: true,
      showURL: false,
	  <!-- // use div.tooltip as our tooltip -->
	  tip: '.tooltip',
	  // use the fade effect instead of the default
	  effect: 'fade',
	  // make fadeOutSpeed similar to the browser's default
	  fadeOutSpeed: 100,
	  // the time before the tooltip is shown
	  predelay: 100,
	  // tweak the position
	  position: "center",
	  <!-- offset: [-50, -80] -->
	  });
      });
    </script>


  </body>
  <div id="footer" style="color:green;">
    generated <%= @request_time %> by <a href="https://github.com/fetep/pencil" target="_blank">pencil</a> v<%= PENCIL_VERSION %>
  </div>
</html>
