<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <%= css_url %>
    <link href="/css/jquery_themes/pencil/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="icon" type="text/x-icon">
    <link href="/favicon.ico" rel="shortcut icon" type="text/x-icon">
    <!-- fixme get minified versions, update jquery -->
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/jquery.bgiframe.js" type="text/javascript"></script>
    <script src="/js/jquery.dimensions.js" type="text/javascript"></script>
    <script src="/js/jquery.tooltip.js" type="text/javascript"></script>

    <script type="text/javascript" src="/js/cufon.js"></script>
    <script type="text/javascript" src="/js/product-design.font.js"></script>
    <script type="text/javascript" src="/js/gotham.font.js"></script>
    <title><%= @title %></title>
    <script type="text/javascript">
        Cufon.replace('#header h1, #header h4', { fontFamily: 'product-design'});
        Cufon.replace('#main h2, #main h3, #main h4, #nav h3, #timeslice_container a, span.zoom', { fontFamily: 'gotham'});
    </script>

    <%= refresh unless @no_graphs %>
  </head>
  <body>
    <span class="tooltip">&nbsp;</span>

    <div id="container">
      <div id="header">
        <h1>Pencil</h1>
        <h4>Powered by graphite</h4>
      </div>

      <div id="middle">
        <div id="left_pane">
          <div id="nav" class="ui-corner-bottom">
            <% if @cluster %>
            <!-- fixme change this to the cluster overview link when there's only one cluster-->
            <h3>Global Views:</h3>
            <ul>
              <li><a href="<%= cluster_link("global") %>">overview</a></li>
              <% clusters = settings.config.clusters %>
            </ul>
            <% if clusters.size > 1 %>
            <h3>Cluster Views:</h3>
            <ul>
              <% clusters.sort.each do |cluster| -%>
              <li><a href="<%= cluster_link(cluster) %>"><%= cluster %></a></li>
              <% end %>
            </ul>
            <% end %>
            <h3>Dashboards: (<%= @cluster %>)</h3>
            <ul>
              <% @dashboards.select do |d|
                 @cluster == "global" || d.clusters.member?(@cluster)
                 end.sort.each do |dash| -%>
              <li><a href="<%= dash_link(dash, @cluster) %>"><%= dash["title"] %></a></li>
              <% end %>
            </ul>
            <div class="jump-box">
              <h3>Jump to Host:</h3>
              <%= hosts_selector(* @cluster == "global" ? [Host.all, true] : [Host.find_by_cluster(@cluster), false]) %>
            </div>
            <%= input_boxes %>
          </div>
          <% end %>
        </div>
        <div id="right_pane">
          <div id="main">
            <%= yield %>
          </div>
          <div style="clear:both;"></div>
        </div><!--/closes right_pane -->
      </div><!--/closes middle-->
      <div style="clear:both;"></div>
      <div id="footer">
        generated <%= @request_time %> by <a href="https://github.com/fetep/pencil" target="_blank">pencil</a> v<%= PENCIL_VERSION %>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
	  $("img[title]").tooltip({
      showURL: false,
	  <!-- // use div.tooltip as our tooltip -->
	  tip: '.tooltip',
	  // use the fade effect instead of the default
	  effect: 'fade',
	  // make fadeOutSpeed similar to the browser's default
	  fadeOutSpeed: 100,
	  // the time before the tooltip is shown
	  predelay: 100,
	  // tweak the position
	  <!-- offset: [-50, -80] -->
	  });
      });
    </script>
    <script type="text/javascript">
      Cufon.now();
    </script>
  </body>
</html>
