<div class="container-fluid">
  <div class="graph">
    <div class="header">
      <% if @graph[:description] %>
      <a name="<%= @name||@graph.name %>" title="<%= @graph[:title]%>" class="btn btn-info" data-placement="right" rel="popover" data-content="<%= escape_html(@graph[:description]||'') %>"><%= @graph_title || @graph.name %> &raquo;</a>
      <% else %>
      <a name="<%= @name||@graph.name %>" href="#<%= @name||@graph.name %>" class="btn btn-info"><%= @graph_title || @graph.name %></a>
      <% end %>
      <span class="tools"><%= @zoom_text %></span>
    </div>
    <a data-placement="bottom" data-delay="300" rel="tooltip" title="<%= escape_html(@graph[:description]||'') %>" href="<%= @click_url %>"><img src="<%= @src %>"></a>
  </div>
</div>
