<h3>
  <span>dashboard</span>
  <span class="divider">::</span>
  <span><%= @dash.group %></span>
  <span class="divider">::</span>
  <%= cluster_switcher %>
  <span class="divider">::</span>
  <span class="dropdown">
    <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><%= @dash.title||@dash.name %></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <% current(Dashboard.group_entries(@dash.group) - [@dash]).each do |d| %>
      <li><a tabindex="-1" href="/dash/<%= @cluster %>/<%= d.name %>"><%= d.title||d %></a></li>
      <% end %>
    </ul>
  </span>
</h3>
