<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Global View</li>
      <% toplevel = @clusters.size == 1 ? @clusters.first.name : 'global' %>
      <li<%= ' class="active"' if @cluster.name == 'global' %>><a href="/dash/<%= toplevel %>">overview</a></li>
      <% if @multi %>
      <li class="nav-header">Cluster Views</li>
      <% @clusters.map(&:name).each do |c| %>
      <li<%= ' class="active"' if @cluster.name == c %>><a href="/dash/<%= c %>"><%= c %></a></li><% end %>
      <% end %>
      <li class="nav-header">Dashboards (<%= @cluster || 'global' %>)</li>
      <% Dashboard.groups.each do |group| %>
      <li><span class="label"><%= group %></span></li><% Dashboard.group_entries(group).each do |d|
      next if @multi && !@cluster.psuedo && @cluster.name && !d.clusters.include?(@cluster.name)
      # special case when a dash applies to a single cluster, link directly to it
      c = @multi && @cluster.psuedo && d.clusters.size == 1 ? d.clusters.first : @cluster.name %>
      <li<%= ' class="active"' if @dash && @dash == d %><%= " rel=\"tooltip\" data-delay=\"300\" data-placement=\"right\" title=\"#{escape_html d.description}\"" if d.description %>><a href="/dash/<%= c %>/<%= d.name %>"><%= d.title %></a></li><% end %><% end %>
      <li class="divider"></li>
      <li class="nav-header">Host Selector</li>
      <div class="controls">
        <input type="text" <%= " placeholder=\"#{@host.name}\"" if @host %> class="span12" style="margin: 0 auto;" data-provide="typeahead" data-items="8" data-source='<%= @hosts.map(&:first).inspect %>'>
      </div>
      <li class="divider"></li>
      <li class="nav-header">Timespec</li>
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li id="tabhead1"><a href="#tab1" data-toggle="tab">Live</a></li>
          <li id="tabhead2"><a href="#tab2" data-toggle="tab">Calendar</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="tab1">
            <ul class="nav nav-pills nav-stacked"><% @views.each do |a| %>
              <li<%= ' default="true"' if a.is_default %>><a offset="<%= a.offset %>" label="<%= a.label %>" value="<%= a.from %>" onclick="liveSubmit(this);"><%= a.label||'' %></a></li><% end %>
              <li id="permd" class="divider"></li>
              <li><a id="perm" rel="tooltip" data-placement="bottom" title="convert this live view to absolute time" onclick="permaLink()">permalink</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="tab2">
            <form class="navbar-form pull-left" onsubmit="calendarSubmit(); return false;">
              <span class="label">from</span>
              <div class="input-append date" id="dp1" data-date-format="dd-mm-yyyy">
                <input class="input-small" type="text" value="">
                <span class="add-on"><i class="icon-calendar"></i></span>
              </div>
              <div class="input-append bootstrap-timepicker-component" id="tp1">
                <input type="text" class="timepicker-default input-small" value="">
                <span class="add-on">
                  <i class="icon-time"></i>
                </span>
              </div>
              <span class="label">to</span>
              <div class="input-append date" id="dp2" data-date="" data-date-format="dd-mm-yyyy">
                <input class="input-small" type="text" value="">
                <span class="add-on"><i class="icon-calendar"></i></span>
              </div>
              <div class="input-append bootstrap-timepicker-component" id="tp2">
                <input type="text" class="timepicker-default input-small" value="">
                <span class="add-on">
                  <i class="icon-time"></i>
                </span>
              </div>
              <input type="submit" class="btn" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
