<%= css_url %>

<h2>List of dashboards for <%=cluster_selector %></h2>

<%
hosts = Host.all.select { |h| h.cluster == @cluster }
boards = @dashboards.select { |d| d.clusters.member?(@cluster) }
seen_hosts = Set.new
%>

<% boards.each do |b| %>
<h2><a href="/dash/<%= "#{@cluster}/#{b.name}" %>"><%= b.name %></a>

<% dash_hosts = b.get_all_hosts(@cluster)[0]
   seen_hosts += dash_hosts %>

<%= hosts_selector(dash_hosts) %>
</h2>
<%= b.graphs.collect { |g| "<li><a href=/dash/#{@cluster}/#{b.name}/#{g}>#{g}</a><br></li>" } %>
<br>


<% end %>
<h3>Other Hosts (not associated with a dashboard)</h3>
<%= (hosts.to_set - seen_hosts).sort.collect { |h| "<li><a href=\"/host/#{@cluster}/#{h}\">#{h}</a></li>" } %>

