<%= cluster_switcher %>
<%= dash_switcher %>
<%= dash_uplink %>
<br>
<br>
<%= @dash.graphs.collect { |g| "<a href=\"##{g.name}\">#{g.name}</a>" }.join(" ") %>

<% @dash.graphs.each do |g| %>
<div class="graphsection" style="width:<%= g.width(merge_opts) %>;">
  <a name="<%= g.name %>">
    <% image_url, zoom_url = cluster_graph(g, @cluster, "#{g.name} / #{@cluster}") %>
    <span class="graphtitle"><%= g.name %></span>
    <span class="dashlinks">(<a href="<%= zoom_url %>">zoom</a>)</span>
    <div class="graph">
      <a href="<%= zoom_url %>"><img src="<%= image_url %>"></a>
    </div>
</div>
<% end %>

<div id="footer"><%= permalink %></div>
