<a href="#by_host">by_host</a>
<% hosts = @dash.get_valid_hosts(@zoom, @cluster)[0].sort %>
<%= hosts.collect { |h| "<a href=\"##{h}\">#{h}</a>" }.join(" ") %>

<%= cluster_switcher %>
<%= graph_switcher %>

<div class="graphsection">
  <span class="graphtitle"><%= @zoom.name %> / <%= @cluster %> :: summary</span>
  <div class="graph">
    <img src="<%= @dash.render_cluster_graph(@zoom, @cluster, :dynamic_url_opts => merge_opts) %>">
  </div>
</div>

<div class="graphsection">
  <a name="by_host">
  <span class="graphtitle"><%= @zoom.name %> / <%= @cluster %> :: by host</span>
  <div class="graph">
    <img src="<%= @dash.render_cluster_graph(@zoom, @cluster, :zoom => true, :dynamic_url_opts => merge_opts) %>">
  </div>
</div>

<% hosts.each do |host| %>
  <div class="graphsection">
    <a name="<%= host %>">
    <% image_url, zoom_url = cluster_zoom_graph(@zoom, @cluster, host, "#{@zoom.name} / #{@cluster} / #{host}") %>
    <span class="graphtitle"><%= @zoom.name %> / <%= @cluster %> / <%= host %></span>
    <span class="dashlinks">(<a href="<%= zoom_url %>">host</a>)</span>
    <div class="graph">
      <a href="<%= zoom_url %>"><img src="<%= image_url %>"></a>
    </div>
  </div>
<% end %>
