<div class="span10">
  <%= erb :'partials/header', :layout => false %>
  <h4><div id="timestamp"></div><p class="button-container pull-right">
    <a href="/dash/<%= @cluster %>"><button class="btn-primary">zoom out (<%= @cluster %>)</button></a>
  </p></h4>

  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <% @dash.graphs.each do |gname, _| %>
        <li><a href="#<%= gname %>"><small><%= @graphs[gname][:title]||gname %></small></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% @dash.graphs.each do |gname, graph| %>
  <%= @graph = @graphs[gname] # fixme when this is nil have a better error message
      @graph_title = @graph.title_name
      @click_url = "/dash/#{@cluster}/#{@dash.name}/#{@graph.name}"
      if !@cluster.psuedo || !@multi
      @zoom_text = "<small class=\"pull-right\">(<a href=\"#{@click_url}\">zoom</a>)</small>"
      else
      @zoom_text = @clusters.map(&:name).map{|m| "<span><a href=\"/dash/#{m}/#{@dash.name}/#{@graph.name}\">#{m}</a></span>"}.join(',')
      @zoom_text = "<small class=\"pull-right\">zoom(#{@zoom_text})</small>"
      end
      @src = @graph.send(@method, @target, graph['hosts'], @overrides)
      erb :'partials/graph', :layout => false %>
  <% end %>
</div>
