<div class="span4">
  <section id="overview">
    <div class="page-header">
      <h1>Dashboards</h1>
    </div>
    <div>
      <% Dashboard.groups.each do |group| %>
      <h2><%= group %></h2>
      <ul><% Dashboard.group_entries(group).each do |d| %>
      <% hosts = Set.new
         d.graphs.each do |gname, _|
           wildcards = d.graphs.find {|g, h| g == gname}.last['hosts']
           wildcards.each {|w| hosts += d.assoc[gname][w].to_a}
         end
         @select_hosts = hosts.select {|h| @multi ? @cluster.name == 'global' || h.cluster == @cluster.name : true} %>
        <li><a href="/dash/<%= @cluster %>/<%= d.name %>"><%= d.name %></a><%= erb :'partials/hosts_selector' %> </li>
        <ul><% d.graphs.each do |gname, hosts| %>
          <li><a href="<%= "/dash/#{@cluster}/#{d.name}/#{gname}"%>"><%= gname %></a></li><% end %>
        </ul><% end %>
      </ul><% end %>
    </div>
  </section>
</div>

<% if !@cluster.psuedo %>
<div class="span4">
  <div class="page-header"><h1><%= @cluster.name %></h1></div>
  <% if @cluster.noassoc.size > 0 %>
    <h4>Other hosts (not associated with a dashboard)</h4>
    <ul><% @cluster.noassoc.each do |host| %>
      <li><a href="/host/<%= host.path  %>"><%= host.shortname %></a></li>
    </ul><% end %>
  <% end %>
</div>
<% else %>
<% @clusters.each do |c| %>
<section id="<%= c.name %>">
<div class="span3">
  <div class="page-header"><h1><%= c.psuedo ? 'hosts' : c %></h1></div>
  <div>
    <ul>
    <% c.hosts.each do |host| %>
      <li><a href="/host/<%= host.path %>"><%= host.shortname %></a></li><% end %>
    </ul>
  </div>
</div>
</section>
<% end %>
<% end %>
