<div class="span10">
  <%= erb :'partials/header2', :layout => false %>
  <h4><div id="timestamp"></div><p class="button-container pull-right">
    <a href="/dash/<%= @cluster %>/<%= @dash.name %>"><button class="btn-primary">zoom out (<%= @dash.name %>)</button></a>
  </p></h4>
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <% @clusters.map(&:name).each do |c| %>
        <li><a href="#<%= c %>"><small><%= c %></small></a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= @click_url = '#'
      @zoom_text = ''
      @graph = @zoom
      hosts = @dash.graphs.find {|g, h| g == @zoom.name}.last['hosts']

      @graph_title = "#{@zoom.name} overview"
      @src = @zoom.render_global(@clusters.map(&:name), hosts, @overrides)
      erb :'partials/graph', :layout => false %>

  <% @clusters.map(&:name).each do |c|
     @name  = c
     @graph_title = "#{@dash.name} / #{@zoom.name} / #{c}"
     @click_url = "/dash/#{c}/#{@dash.name}/#{@zoom.name}"
     @zoom_text = "<small class=\"pull-right\">(<a href=\"#{@click_url}\">zoom</a>)</small>"
     @src = @zoom.render_global_zoom(c, hosts, @dash.name, @overrides) %>
  <%= erb :'partials/graph', :layout => false %>
  <% end %>
</div>
