<html>
<head>
<%= css_url %>
<link href="/favicon.ico" rel="icon" type="text/x-icon">
<link href="/favicon.ico" rel="shortcut icon" type="text/x-icon">
<%= refresh %>
</head>
<body bgcolor="black">

<div id="wrap">
    <div id="header">
        <h2><%= @title %></h2>
    </div>

    <div id="nav">
<% if @cluster %>
        <ul>
<% @dashboards.sort.each do |dash| %>
            <li><a href="<%= dash_link(dash, @cluster) %>"><%= dash['title'] %></a></li>
<% end %>
        </ul>
    </div>
<% end %>

    <div id="main">
        <%= yield %>
    </div>
</div>
</body>
</html>

