<div class="nav-box ui-corner-all" id="settings">
  <h3 class="ui-corner-top ui-state-default">Graph Settings</h3>
  <div class="nav-box-inner">
    <form action="/process" name="input" method="get">
      <% @prefs.each do |label, name|
         val = param_lookup(name) %>
      <label for="<%= name%>"><%= label%></label>
      <input  <%= "value=\"#{val}\" " if val %> size="<%= name =~ /start|duration/ ? 10 : 4 %>" name="<%= name %>" id="<%= name %>" type="text"/>
      <% if name == "start" %>
      <a href="http://chronic.rubyforge.org/" class="inline-link" target="_blank">
        <% if valid_time(param_lookup(name)) %>
        ?
        <% else %>
        <div class="error">Bad timespec!</div>
        <% end %>
      </a>
      <% elsif name == "duration" %>
      <a href="https://github.com/hpoydar/chronic_duration" class="inline-link" target="_blank">
        <% if !param_lookup(name) || ChronicDuration.parse(param_lookup(name)) %>
        ?
        <% else %>
        <div class="error">Bad interval!</div>
        <% end %>
      </a>
      <% end %>
      <% end %>
      <div class="button-holder">
        <input class="ui-state-default ui-corner-all ui-button" type="submit" value="Submit" name="action" />
        <input class="ui-state-default ui-corner-all ui-button" type="submit" value="Clear" name="action" /><br>
        <input class="ui-state-default ui-corner-all ui-button" type="submit" value="Save" name="action" />
        <input class="ui-state-default ui-corner-all ui-button" type="submit" value="Reset" name="action" />
      </div>
    </form>
    <div style="clear:both;"></div>
  </div>
</div>
