<%= header(graph_uplink) %>
<% hosts, clusters = @dash.get_valid_hosts(@zoom) %>

<%= cluster_switcher(@dash.clusters) %>
<%= graph_switcher %>
<%= shortcuts(clusters.sort.collect { |h| "<a href=\"##{h}\">#{h}</a>" }.join(" ")) %>

<div class="graph_container">
  <% graph_name = "#{@zoom.name} overview" %>
  <h3><%= graph_name %></h3>
  <div class="graph">
    <img src="<%= @dash.render_global_graph(@zoom, :dynamic_url_opts => merge_opts) %>">
  </div>
</div>

<% clusters.sort.each do |cluster| %>
<div class="graph_container">
  <a name="<%= cluster %>"></a>
  <% graph_name = "#{@dash.name} / #{@zoom.name} / #{cluster}" %>
  <% image_url, zoom_url = cluster_graph(@zoom, cluster, graph_name) %>
  <h3><%= graph_name %>
    <span class="tools">(<a href="<%= zoom_url %>">zoom</a>)</span>
  </h3>
  <div class="graph">
    <a href="<%= zoom_url %>"><img src="<%= image_url %>"></a>
  </div>
</div>
<% end %>
