<%= header(graph_uplink) %>
<% hosts = @dash.get_valid_hosts(@zoom, @cluster)[0].sort 
   width = @zoom.width(merge_opts) %>

<%= cluster_switcher(@dash.clusters) %>
<%= graph_switcher %>
<%= shortcuts(hosts.collect { |h| "<a href=\"##{h}\">#{h}</a>" }.join(" ")) %>

<div class="graph_container" style="width:<%= width %>;">
  <h3><a name="summary" href="#summary"><%= @zoom.name %> / <%= @cluster %> :: summary</a>
  </h3>
  <div class="graph">
    <img src="<%= @dash.render_cluster_graph(@zoom, @cluster, :dynamic_url_opts => merge_opts) %>">
  </div>
</div>

<% hosts.each do |host| %>
<div class="graph_container" style="width:<%= width %>;">
  <a name="<%= host %>"></a>
  <% image_url, zoom_url = cluster_zoom_graph(@zoom, @cluster, host, "#{@zoom.name} / #{@cluster} / #{host}") %>
  <h3><a href="#<%= host %>"><%= @zoom.name %> / <%= @cluster %> / <%= host %></a>
    <span class="tools">(<a href="<%= zoom_url %>">host</a>)</span>
  </h3>
  <div class="graph">
    <a href="<%= zoom_url %>"><img src="<%= image_url %>"></a>
  </div>
</div>
<% end %>
